/* laisser le choix actif quand on est sur une page 
mettre bcp de coms dans les gros blocs de css
changer le figma
faire peut etre une nouvelle page actus
ajouter au moins une nouvelle page actualité avec des petits numéros en bas 
changer le français anglais
augmenter la police du copyright
1. explication du site 
2. explication figma 
3. */

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Bebas Neue";
  color: var(--yellow);
}

h2 {
  font-family: "Bebas Neue";
  color: var(--black);
}

h3 {
  font-family: "DM Serif Text";
  color: var(--black);
}

h4 {
  font-family: "Bebas Neue";
  color: var(--black);
}

p {
  font-family: "Noto Sans";
  color: var(--black);
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  /*si ecran >1200px*/
  width: 100%;
  margin: 0 auto;
  background-color: var(--purple);
}

/* ======================================================= VARIABLES ======================================== */
:root {
  --green: #445b13;
  --yellow: #fcd800;
  --purple: #cfc8e7;
  --black: #0c0b0b;
}

/* ========================================================= FONTS ========================================== */

/* noto-sans-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/noto-sans-v35-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* bebas-neue-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/bebas-neue-v14-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-serif-text-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Serif Text";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/dm-serif-text-v12-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ==================================================== HEADER ================================================== */
#background-banner {
  background-image: url("images-header/banniere-abeille.jpg");
  background-size: cover;
  background-position: 30% 50%;
  background-repeat: no-repeat;
}

#logo {
  width: 10%;
  margin: 30px;
}

#principal-menu {
  background-color: var(--green);
}

#principal-menu #burger {
  margin-bottom: 30px;
}

#principal-menu #nav {
  color: var(--yellow);
  display: flex;
  align-items: right;
  flex-direction: column;
  font-size: 1.5rem;
}

#principal-menu #nav #burger {
  text-align: right;
}

#principal-menu {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px 0px 20px;
}

#principal-menu ul li a {
  color: var(--yellow);
}

#principal-menu ul li a:hover {
  color: var(--purple);
}

#principal-menu ul li:last-of-type {
  /* prend le dernier élément de la liste */
  padding-bottom: 20px;
}

#principal-menu ul {
  text-align: right;
}

#principal-menu ul {
  font-family: "Bebas Neue";
  font-size: 1.5rem;
  text-transform: uppercase;
  display: none;
}

/* ===================================================== MAIN ================================================== */

#intro {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  align-items: center;
}

#intro h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
}

#intro p #title {
  color: var(--green);
  font-weight: 600;
}

#intro p {
  text-align: justify;
  margin-top: 30px;
  line-height: 30px;
  padding: 25px;
  width: 85%;
}

#intro button {
  text-transform: uppercase;
  font-size: large;
  font-weight: 600;
  color: var(--yellow);
  background-color: var(--green);
  padding: 20px;
  border: none;
  width: auto;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 40px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

#intro button a {
  color: var(--yellow);
}

#intro button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

/* =============================================== CONTACT ================================================== */

#form-contact {
  font-family: "Noto Sans";
  padding: 50px;
}

#form-gender {
  display: flex;
  justify-content: space-evenly;
}

#form-text {
  margin-top: 30px;
}

#form-text p {
  padding: 10px;
  border: none;
}

#form-text p input,
#form-text textarea {
  font-family: "Noto Sans";
  border: solid 2px var(--green);
  padding: 16px 32px 12px 12px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

#form-text p input[type="text"],
#form-text p input[type="email"],
#form-text p textarea {
  width: 90%;
}

#form-text p input[type="submit"],
#form-text p input[type="reset"] {
  background-color: var(--green);
  color: var(--yellow);
  font-weight: 550;
  font-family: "Bebas Neue";
  letter-spacing: 1.5px;
  padding: 15px;
  font-size: 1rem;
}

#form-text p input[type="submit"]:hover,
#form-text p input[type="reset"]:hover {
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#form-text p #rgpd {
  font-family: "Bebas Neue";
}

/* =============================================== ACTUALITES =============================================== */

#paysages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#paysages .categorie-paysages {
  width: 100%;
}

#paysages #menupaysage {
  margin-bottom: 30px;
}

#paysages #menupaysage ul {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--green);
}

#paysages #menupaysage ul li {
  margin: 20px 20px 40px;
}

#paysages #menupaysage ul li a {
  padding: 5px 15px;
  background-color: var(--green);
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: "Bebas Neue";
}

#paysages #menupaysage ul li a:hover,
#paysages #menupaysage ul li a.on {
  background-color: var(--yellow);
}

#listeIdees {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 290px);
  gap: 10px;
  justify-content: center;
  padding-bottom: 100px;
  margin: 20px;
}

#listeIdees .idee {
  box-shadow: 0 4px 8px 0 var(--green);
  transition: 0.3s;
  margin-bottom: 10px;
  border-radius: 0 0 8px 8px;
}

#listeIdees .idee:hover {
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.4);
}

#listeIdees .idee h3 {
  font-size: 1.8rem;
  padding: 5px;
}

#listeIdees .idee p {
  padding: 5px;
}

#listeIdees .idee img {
  margin-top: 10px;
  width: 100%;
  height: 55%;
  border-radius: 0 0 8px 8px;
}

/* ==================================+============= PLANNING ===================+============================ */

#planning iframe {
  display: flex;
  margin: 0 auto;
  width: 80%;
  height: 600px;
  padding: 30px;
}

/* =============================================== MENTIONS LEGALES ========================================= */

#title-mentions {
  margin-top: 50px;
  font-family: "Noto Sans";
}

#p-mentions {
  margin-left: 50px;
  margin-top: 50px;
  padding-bottom: 100px;
}

#link-mentions {
  color: var(--green);
  font-weight: 800;
}

.doc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* =============================================== SLIDER =================================================== */
.slider-wrapper h3 {
  font-family: "Bebas Neue";
  text-align: center;
  margin: 50px;
  margin-top: 50px;
  font-size: 1.5rem;
}

#slider h3,
#slider p {
  display: none;
}

.theme-default .nivo-controlNav a {
  background: url(images-header/rond-vert.PNG) no-repeat;
  background-size: 110%;
}

.theme-default .nivo-controlNav a.active {
  background: url(images-header/rond-jaune.PNG) no-repeat;
  background-size: 110%;
}

.theme-default .nivo-controlNav {
  padding-bottom: 100px;
}

.nivoSlider {
  width: 80%;
  margin: 0 auto;
}

.nivo-caption {
  display: none;
  background: transparent;
}

/* =========================================== FOOTER ======================================================= */

#bloc-copyright {
  background-color: var(--green);
}

.copyright {
  color: var(--yellow);
  font-weight: 400;
  text-align: center;
  padding: 20px;
  font-family: "Bebas Neue";
}

.footer {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.copyright a {
  color: var(--yellow);
}

.copyright a:hover {
  color: var(--purple);
}

#partenaires img {
  width: 100%;
  height: 100%;
}

.footer h4 {
  padding-bottom: 20px;
  font-family: "Bebas Neue";
  font-weight: 500;
}

.container-grid {
  display: grid;
  grid-template-columns: 60px 60px;
  grid-template-rows: 30px;
  gap: 10px;
}

.container-grid .item-b {
  justify-content: bottom;
}

.container-grid .item-c {
  grid-area: 1/2/3/3;
}

#reseaux {
  width: 120px;
}

#reseaux i {
  color: var(--green);
  font-size: 80px;
  margin-left: 10px;
}
#reseaux i:hover{
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
    scale: 1.2;
}

#arrow {
  width: 120px;
}

#arrow img {
  width: 60%;
  margin-top: 50px;
}

#arrow img:hover {
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
  -webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
}

/* ================================================= MEDIA QUERIES ============================================= */
/* quand c'est > à 768px */
@media screen and (min-width: 768px) {
  .nivo-caption {
    background-color: rgba(0, 0, 0, 0.9);
  }

  #slider h3 {
    font-family: "DM Serif Text";
  }

  #slider p {
    font-family: "Noto Sans";
  }

  #slider p,
  #slider h3 {
    display: block;
    color: var(--white);
    text-align: justify;
  }

  #principal-menu ul {
    display: flex;
  }

  #principal-menu ul li {
    margin-left: 30px;
  }

  #principal-menu #burger {
    display: none;
  }

  #principal-menu ul li:last-of-type {
    padding-bottom: 0px;
  }

  #principal-menu {
    padding: 30px 20px 30px 20px;
  }
}
